body{
    font-family: arial;
    color: #404040;
}
.mainDesktop{
    display: block;
  }
  
.mainMobile{
  display: none;
}

.mainDesktop{
  width: 80%;
  margin: auto;
}

p{
    font-size: 14px;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.625rem;

}

h3{
    font-family: arial;
}

article{
  width: 100%;
}
article .txt_prod{
  position: absolute;
  top: 2rem;
  right: 4%;
  width: 433px;
  background-color: #ffffff;
  margin-left: 0 !important;
  padding: 20px;
}
  article .txt_prod h3{
    font-size: 38px;
    margin: 0;
    padding: 0 0 16px 0;
  }
  article .txt_prod p{
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
.f_line{
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}

.sp{
    padding-top: 1rem;
}

/* nav{
    padding-top: 2rem;
    padding-bottom: 3rem;
} */

button{   
    color: #404040;
    font-weight: bold;
    border: 1px solid #404040;  
    width: 18.2vw;
    font-size: 0.9rem;
    position: absolute;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

button:focus{
    outline: 1px solid #404040;
    background-color: #404040;
    color: #fff;
}

button:hover{
    background-color: #404040;
    color: #fff;
}

button.active:hover,
.active{
    background-color: #fbce07 !important;
    color: #404040 !important;
}

select.smallUp,
.out{
    display: none;
}

.in{
    display: block;
}

.swiper-container {
    width: 76vw;
    height: 60rem;
}

#nav1{
  position: absolute;
  top: 5rem;
}
#nav2{
  position: absolute;
  top: 5rem;
  left: 29.6vw;
}
#nav3{
  position: absolute;
  top: 5rem;
  left: 48.8vw;
}

#nav4{
  position: absolute;
  top: 5rem;
  left: 68.1vw;
}

#nav1.active:after,
#nav2.active:after,
#nav3.active:after,
#nav4.active:after{
    transition: border-color .3s;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-top-color: #fbce07;
    border-width: 15px;
    margin-left: -15px;
}

#nav1.active:before,
#nav2.active:before,
#nav3.active:before,
#nav4.active:before{
    transition: border-color .3s;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-top-color:   black;
    border-width: 16px;
    margin-left: -16px;
}

.gourmet_main,
.sdwch_main,
.meal_main,
.deserts_main{
  padding-top: 7rem;
}

button,
.mainDesktop .gourmet_main .intro,
.mainDesktop .sdwch_main .intro,
.mainDesktop .meal_main .intro,
.mainDesktop .deserts_main .intro,
.mainDesktop .deserts_main .deserts .img_txt .txt_prod,
.mainDesktop .deserts_main .deserts .img_txt .img_prod figure,
.mainDesktop .meal_main .meal .img_txt .txt_prod,
.mainDesktop .meal_main .meal .img_txt .img_prod figure,
.mainDesktop .meal_main .meal .img_txt .txt_prod,
.mainDesktop .meal_main .meal .img_txt .img_prod figure,
.mainDesktop .gourmet_main .gourmet .img_txt .txt_prod,
.mainDesktop .gourmet_main .gourmet .img_txt .img_prod figure,
.mainDesktop .sdwch_main .sdwch .img_txt .txt_prod,
.mainDesktop .sdwch_main .sdwch .img_prod figure{
   /* -webkit-margin-start: 20px;
    -webkit-margin-end: 20px;
    -moz-margin-start : 20px;
    -moz-margin-end : 20px;*/
    margin-left: 20px;
}

.mainDesktop .deserts_main .deserts .img_txt .txt_prod,
.mainDesktop .deserts_main .deserts .img_txt .img_prod figure img,
.mainDesktop .meal_main .meal .img_txt .txt_prod,
.mainDesktop .meal_main .meal .img_txt .img_prod figure img,
.mainDesktop .meal_main .meal .img_txt .txt_prod,
.mainDesktop .meal_main .meal .img_txt .img_prod figure img,
.mainDesktop .gourmet_main .gourmet .img_txt .txt_prod,
.mainDesktop .gourmet_main .gourmet .img_txt .img_prod figure img,
.mainDesktop .sdwch_main .sdwch .img_txt .txt_prod,
.mainDesktop .sdwch_main .sdwch .img_prod figure img{
    /*max-width: 22.5vw;*/
    max-width: 76vw;
}

.mainDesktop .gourmet_main .gourmet,
.mainDesktop .sdwch_main .sdwch,
.mainDesktop .meal_main .meal,
.mainDesktop .deserts_main .deserts{
  position: relative;
  display: flex;
  overflow: hidden;
  /* text-align: center; */
}
.mainDesktop .gourmet_main .gourmet article,
.mainDesktop .sdwch_main .sdwch article,
.mainDesktop .meal_main .meal article,
.mainDesktop .deserts_main .deserts article{
  position: relative;
}
/*.mainDesktop .gourmet_main .gourmet article.act,
.mainDesktop .sdwch_main .sdwch article.act,
.mainDesktop .meal_main .meal article.act,
.mainDesktop .deserts_main .deserts article.act{
  display: block;
} */
a.bt-prev,
a.bt-next{
  position: absolute;
  top: 35rem;
  z-index: 10;
}
a.bt-prev{
  left: 14.3%;
  display: none;
}
a.bt-next{
  right: 13.6%;
}
a.bt-next img.invert,
a.bt-prev img.invert{
  display: none;
}

a.bt-next:focus img.default,
a.bt-prev:focus img.default,
a.bt-next:hover img.default,
a.bt-prev:hover img.default{
  display: none;
}

a.bt-next:focus img.invert,
a.bt-prev:focus img.invert,
a.bt-next:hover img.invert,
a.bt-prev:hover img.invert{
  display: block;
}

ul.blt-nav{
  position: absolute;
  bottom: 1rem;
  top: 61vw;
  left: 0;
  width: 97%;
  text-align: center;
}
  ul.blt-nav li{
    display: inline-block;
    padding: 0 5px;
  }
    ul.blt-nav li a{
      display: block;
      border: 1px solid #ffffff;
      background-color: #ffffff;
      text-indent: -9999px;
      width: 20px;
      height: 20px;
    }
      ul.blt-nav li.act a{
        background-color: #dd1d21;
      }

@media screen and (max-width: 1024px){
  body{
    margin: 0;
  }

  .mainDesktop{
    display: none;
  }
  
  .mainMobile{
    display: block;
  }

    .mainMobile {
      width: 100%;
      margin: auto;
    }
    article{
        width: 100%;
    }

    nav a{
        width: 100%;
    }

    select.smallUp{
        display: block;
        width: 100%;
        height: 2rem;
        margin: 3rem 1rem 2rem 0rem;
    }
    section.intro{
      padding: 0 1rem 0 1rem;      
    }
    nav.mediumDown{
        display: none;
    }
    article .txt_prod {
        position: relative;
        top: 0;
        right: 0;
        width: 90%;
        background-color: #f4f4f4;
        margin-left: 0 !important;
        padding: 20px;
    }
    article .txt_prod h3{
      font-size: 28px;
    }
    article .txt_prod p{
      font-size: 16px;
    }

     .swiper-button-prev,
    .swiper-button-next{
      display: none;
      top:-9999px;
    }
  .swiper-container {
      width: 100vw;
      height: 30rem;
    }
    a.bt-prev,
    a.bt-next{
      display: none;
      top:-9999px;
    }
    .sdwch ul.blt-nav,
    ul.blt-nav{
    display: none;
    }
    #nav1.active:after,
    #nav2.active:after,
    #nav3.active:after,
    #nav4.active:after,
    #nav1.active:before,
    #nav2.active:before,
    #nav3.active:before,
    #nav4.active:before{
        display: none;
    }

    .gourmet_main,
    .sdwch_main,
    .meal_main,
    .deserts_main{
      padding-top: 0;
    }
    .mainMobile .deserts_main .deserts .img_txt .txt_prod,
    .mainMobile .deserts_main .deserts .img_txt .img_prod figure img,
    .mainMobile .meal_main .meal .img_txt .txt_prod,
    .mainMobile .meal_main .meal .img_txt .img_prod figure img,
    .mainMobile .meal_main .meal .img_txt .txt_prod,
    .mainMobile .meal_main .meal .img_txt .img_prod figure img,
    .mainMobile .gourmet_main .gourmet .img_txt .txt_prod,
    .mainMobile .gourmet_main .gourmet .img_txt .img_prod figure img,
    .mainMobile .sdwch_main .sdwch .img_txt .txt_prod,
    .mainMobile .sdwch_main .sdwch .img_prod figure img{
        max-width: 100%;
    }

    nav,
    .mainMobile .gourmet_main .intro,
    .mainMobile .sdwch_main .intro,
    .mainMobile .meal_main .intro,
    .mainMobile .deserts_main .intro,
    .mainMobile .deserts_main .deserts .img_txt .txt_prod,
    .mainMobile .deserts_main .deserts .img_txt .img_prod figure,
    .mainMobile .meal_main .meal .img_txt .txt_prod,
    .mainMobile .meal_main .meal .img_txt .img_prod figure,
    .mainMobile .meal_main .meal .img_txt .txt_prod,
    .mainMobile .meal_main .meal .img_txt .img_prod figure,
    .mainMobile .gourmet_main .gourmet .img_txt .txt_prod,
    .mainMobile .gourmet_main .gourmet .img_txt .img_prod figure,
    .mainMobile .sdwch_main .sdwch .img_txt .txt_prod,
    .mainMobile .sdwch_main .sdwch .img_prod figure{
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
}
